/* variables */

:root {
    --bodyFont: "Roboto", sans-serif;
    --titleFont: "Lato", sans-serif;
    --blueBgTextColor: #fff;
    --yelBgTextColor: #000;
    --bgColor: rgb(0, 49, 125);
    --bgGradient: linear-gradient(
        180deg,
        rgb(1, 63, 156) 0%,
        rgba(0, 49, 125, 1) 49%,
        rgba(0, 6, 61, 1) 100%
    );
}

html {
    overflow-x: hidden;
}

/* main box styling */
body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.body-div {
    width: 75%;
}

@media only screen and (max-width: 850px) {
    .body-div {
        width: 100%;
    }
}

.main {
    font-family: var(--bodyFont);
    color: var(--blueBgTextColor);
    font-size: 1.1rem;

    background: var(--bgColor);
    background: var(--bgGradient);
    -webkit-box-shadow: inset 0px 0px 92px -27px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 92px -27px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 92px -27px rgba(0, 0, 0, 1);

    -webkit-box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.75);
    min-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

@media only screen and (max-width: 767px) {
    .main {
        background: var(--bgColor);
        background: var(--bgGradient);
    }
}

/* owl carousel styling */

.item {
    margin: 10px;
    width: 90%;
    height: 100% !important;
    padding-bottom: 10px;
    margin-left: -30px;
    min-height: 100%;
}

.video {
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    height: 100% !important;
    min-height: 100%;
}

.thumbnail {
    height: 180px;
    border-radius: 5px;
    position: relative;
    width: 100%;

    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 660px) {
    .thumbnail {
        height: 160px;
    }
}

.thumbnail img {
    height: 100% !important;
    -webkit-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.thumbnail img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 3px red;
}

.play-btn {
    position: relative;
    display: flex;
    bottom: 50%;
    left: 46%;
}

.thumbnail iframe {
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

iframe:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 3px red;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}

.title-sm {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}

.title-sm a {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}

.play:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px rgb(196, 0, 0);
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button:hover {
    box-shadow: 0px 0px 15px 3px rgb(207, 207, 207);
}

.owl-nav button.owl-prev {
    left: 0;
}
.owl-nav button.owl-next {
    right: 0;
}

.owl-nav button:hover {
    cursor: pointer;
}

.owl-dots {
    text-align: center;
    padding-bottom: 15px;
}
.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-dots button.owl-dot.active {
    background-color: #000;
    display: none;
}
.owl-dots button.owl-dot:focus {
    outline: none;
    display: none;
}
.owl-nav button {
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

@media only screen and (max-width: 767px) {
    .owl-nav button {
        display: none;
    }
}

span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}

.carousel-title {
    color: white;
    font-family: var(--titleFont);
    font-size: 1.3rem;
    text-decoration: none !important;
    font-weight: bold;
    padding-top: 5px;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    color: rgb(228, 10, 10);
}

.carousel-title:hover {
    color: rgb(228, 10, 10);
    font-family: var(--titleFont);
    font-size: 1.3rem;
    text-decoration: none !important;
    font-weight: bold;
}

/* zoom animation */
.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.02);
}

.play-icon {
    display: flex;
    position: absolute;
    bottom: 52%;
    left: 45%;
    pointer-events: none;
    filter: drop-shadow(0px 0px 8px red);
}
